extends ../layout

block head
   != css('css/login-register')
block footer_js
   != js('cryptojslib/components/core')
   != js('cryptojslib/components/x64-core')
   != js('cryptojslib/components/ripemd160')
   != js('cryptojslib/components/sha256')
   != js('cryptojslib/components/sha512')
   != js('js/login')
block content
   form.login-register.login(method='post')
      input(type='hidden', name='_csrf', value= csrf_token())
      input#hiddenUserhash(type='hidden', name='userhash')

      h2 Login

      p
         | If you don't have an account, you can <a href="/account/new">create one here</a>.
         | Remember that you should only register if you plan to contribute Torrents.

      each error in errors.fatal
         .alert.alert-danger
            if error.type === 'blacksam.login.invalid'
               p
                  | User Name and Password combination were not found.
                  | Try again, or <a href="/account/new">create an account</a>
                  | if you don't already have one.
            else
               p= error.message

      include ../shared/panel-noscript

      .form-group
         label.sr-only(for='textboxUsername') User name
         input#textboxUsername.form-control.joined-top(type='text', autofocus, required, placeholder='User Name')
         label.sr-only(for='textboxPassword') Password
         input#textboxPassword.form-control.joined-bottom(type='password', required, placeholder='Password')
      .form-group.checkbox
         label
            input(type='checkbox', value='remember')
            | Remember me
      button.btn.btn-lg.btn-info.btn-block(type='submit') Login