form.login-register
  max-width 530px
  padding 15px
  margin 0 auto

  .form-control
    position relative
    height auto
    -webkit-box-sizing border-box
    -moz-box-sizing border-box
    box-sizing border-box
    padding 10px
    font-size 16px

    &:focus
      z-index 2


  .joined-top
    margin-bottom -1px
    border-bottom-right-radius 0
    border-bottom-left-radius 0
  .joined-bottom
    border-top-left-radius 0;
    border-top-right-radius

form.login
  .checkbox
    text-align center

    label
      display inline-block
      margin-bottom 10px
      font-weight normal

form.register
  .form-group > span
    display inline-block
    margin 7px 32px