extends layouts/bare
block head
  != css('css/index')
block footer_js
  != js('js/index')
block body
    .site-wrapper
      .site-wrapper-inner
        .cover-container
          .masthead.clearfix
            .inner
              nav
                ul.nav.masthead-nav
                  li
                    a(href='#') Browse
                  if user.loggedIn
                    li
                      a(href='/torrent/new') Upload
                    //li
                      a(href='#') Account
                    li
                      a(href='/account/logout') Logout
                  else
                    li
                      a(href='/account/login') Login
                    li
                      a(href='/account/new') Register
          .inner.cover
            form(method='get', action='/search')
              .form-group
                label(for='search-box').sr-only Search
                input(type='text', name='q', placeholder='Search the seven seas').form-control.input-lg#search-box

              .btn-group
                button(type='submit').btn.btn-lg.btn-primary Search
                button(type='button', data-toggle='dropdown', aria-expanded='false').btn.btn-lg.btn-primary.dropdown-toggle#search-category-select
                  span.caret
                  span.sr-only Toggle search category
                ul.dropdown-menu#search-categories
                  each subcategories, category in helpers.config.get('categories')
                    li
                      a(data-category=category)= category.titleize()
          .mastfoot
            .inner
              p Powered by&nbsp;
                a(href='#') BlackSam